body {
  padding: 50px;
  background: linear-gradient(78deg,rgb(1, 247, 247),rgb(15, 207, 127)); background-size: cover;;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}